.main-header {
	display: flex;
}

.header-info {
	width: 80%;
	text-align: right;
}

.main-body {
	margin-right: 8%;
}

.sidebar-menu {
	width: 16%;
	right: 0;
	height: 100%;
	background-color: #fff;
	position: fixed !important;
	overflow: auto;
}

.sidebar-items{
	list-style: none;
}

.article-body{
	width: 80%;
	position: relative;
	padding: 1vw;
}